* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;}

body {
  margin: 0;
  padding: 0;
  background: rgb(238, 238, 238);}


@font-face {
  font-family: 'code';
  src: url('./fonts/code.otf');
}


#container {
  min-height:100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow:1;
  display: flex;
  flex-direction: row;
}

.sideBar {
  border-right: 1px solid rgba(33, 33, 33, 0.25);
  background-color: rgba(253, 253, 253, 1);

  width: 200px;
}

canvas.identicon {
  border: 2px #fff solid;
  border-radius: 2px;
}

nav.vertical > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav.vertical > ul > li{
  padding: 1rem 0 1rem 1.5rem;
    border-bottom: 1px solid rgba(33, 33, 33, 0.15);
}

nav.vertical a {
  text-decoration: none;
  padding-left: 1rem;
  color: rgba(33, 33, 33, 0.90);
}

nav.vertical > ul > li {
  display: block;
}

.bodyContent {
  width: 90%;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.title-court {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 30px 0 10px 0;
  margin-bottom: 20px;
}

.title-court h1 {
  margin: 0;
  padding: 0;
}

.courts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.court {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: gray;
  width: 190px;
  height: 190px;
  margin: 10px;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}

.court:hover {
  box-shadow: 0px 0px 150px #000000;
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.5);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 200ms ease-in;
  transform: scale(1.5);
}

.court-footer {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  line-height: 50px;
}

.footer {
  background-color: rgb(33, 33, 33);
  text-align: center;
  padding-right: 24px;
  padding-left: 24px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.541176);
  width: 100%;
  min-height: 100px;
  padding-top: 5px;}

sup {
  position: relative;
  top: 2px;
  font-size: 14px;
  font-variant: small-caps;}

.center {
  text-align: center;}
