html {
  font-family: 'Roboto', sans-serif;}

body {
  margin: 0;
  padding: 0;
  background: rgb(238, 238, 238);}


@font-face {
  font-family: 'code';
  src: url('./fonts/code.otf');
}


#container {
  min-height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;}

.content {
  flex-grow:1;}

.footer {
  margin-top: 30px;
  background-color: rgb(33, 33, 33);
  text-align: center;
  padding-right: 24px;
  padding-left: 24px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.541176);
  width: 100%;
  min-height: 100px;
  padding-top: 5px;}

sup {
  position: relative;
  top: 2px;
  font-size: 14px;
  font-variant: small-caps;}

.center {
  text-align: center;}
